body            { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
a, h1, h2       { color: #377ba8; }
h1, h2          { margin: 0; }
h1              { border-bottom: 2px solid rgb(70, 33, 33); }
h2              { font-size: 1.2em; }

table.dataframe, .dataframe th, .dataframe td {
  border: rgb(226, 0, 0);
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  text-align:center;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
  column-width: 1in;
  column-rule: #024776;
  column-rule-width: 1in;
}
thead {
  color: rgb(0, 0, 0);
  background-color: #20b9f5;
}


tr:nth-child(even)  { background-color:#cff0fcbe;
color: #424545 ;
}


tr:hover            { background-color: #ffff99;}