<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/university.css" />
    <title>Gab University</title>
  </head>
  <body>
    <section id="navdiv">
      <nav id="navbar">
        <ul>
          <li><a href="#">HOME</a></li>
          <li><a href="#">ABOUT</a></li>
          <li><a href="#">COURSE</a></li>
          <li><a href="#">BLOG</a></li>
          <li><a href="#">CONTACT</a></li>
          <h3>Gab University</h3>
        </ul>
      </nav>
    </section>
    <div class="div1">
      <section id="section1">
        <h1>World's Biggest University</h1>
        <br />
        <p>
          Making websites is now one of the biggest things in the world. You
          just need to learn HTL, CSS,<br />
          Javascript and you're good to go.
        </p>
        <br />
        <a class="aa" href="#">Visit us to know more</a>
      </section>
    </div>
    <section class="section2">
      <header id="headersection2">Courses we offer</header>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi,
        distinctio.
      </p>
    </section>
    <section class="section3">
      <div class="grid1">
        <div class="divg">
          <header>Intermediate</header>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid
            aperiam corporis deleniti dignissimos earum expedita iure obcaecati
            officia perspiciatis q
          </p>
        </div>
        <div class="divh">
          <header>Degree</header>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid
            aperiam corporis deleniti dignissimos earum expedita iure obcaecati
            officia perspiciatis q
          </p>
        </div>
        <div class="divi">
          <header>Post Graduate</header>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid
            aperiam corporis deleniti dignissimos earum expedita iure obcaecati
            officia perspiciatis q
          </p>
        </div>
      </div>
    </section>
    <section class="section4">
      <header id="headersection4">Our Facilities</header>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi,
        distinctio.
      </p>
    </section>
    <section class="section5">
      <div class="grid2">
        <div>
          <div id="pic1"><img src="../bla2.jfif" alt="pic 1" /></div>
          <header>World Class Library</header>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid
            aperiam corporis deleniti
          </p>
        </div>
        <div>
          <div id="pic2"><img src="../bla3.jfif" alt="pic 2" /></div>
          <header>Largest Playground</header>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid
            aperiam corporis deleniti
          </p>
        </div>
        <div>
          <div id="pic3"><img src="../bla4.png" alt="pic 3" /></div>
          <header>Tasty and Healthy Food</header>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid
            aperiam corporis deleniti
          </p>
        </div>
      </div>
    </section>
    <section class="section5">
      <header id="headersection5">About Us</header>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi,
        distinctio.
      </p>
    </section>
  </body>
</html>
